.siteHeading {
	
	height: 200px;
}
.container div {
	padding: 5px;
}
h1 {
	font-family: 'Helvetica';
	color: black;
	font-size: 48px; 
}

.date{
	display: inline;
}
.subject {
	display: inline;
}
.sender {
	display: inline;
}